/*Mise en Page du CV*/
/*Lien css pour CSS interface de la page*/
/* https://www.youtube.com/watch?v=NiuUGUIHaVc&t=521s */

h1{
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    background-color: black;
    color: white;
    height: 12%;
    width: 72%;
    padding: 2%;
}
.non_puce{
    list-style-type: none; 
}
.left_side{
    margin-left: 12%;
    position: absolute;
    top: 23.5%;
    width: 13%;
    padding: 0.45%;
    border-left: 3px solid;
    border-bottom: 3px solid;
}

.right_side{
    position: absolute;
    top: 17%;
    left: 27.35%;
    width: 58%;
    padding: 5%;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-right: 3px solid;
}

.image_profile{
    margin-top: 10vh;
    width: 12.6vw;
    height: 12.6vw;
}

ul{
    margin-left: -20px;
}

a {
    text-decoration: none;
}

.red_part{
    display: inline-block;
    color: red;
}
.bleu_part{
    display: inline-block;
    color: rgb(12, 12, 201);
}

.green_part{
    display: inline-block;
    color: green;
}

.second_part{
    display: inline-block;
    margin-left: -7px;
}

.right_side h2{
    margin-top: -5px;
}

.mission_period{
    display: inline-block;
}

.mission_title{
    display: inline-block;
    margin-left: 2.5VW;
    font-weight: bold;
}

.mission_location{
    display: inline-block;
    margin-left: 2vw;
}

.mission_detail{
    margin: 1vw 0 0 9vw;
    list-style-type: none;
}

.list_right_side{
    margin: -30px 0 0 10px;
}

.li_mission{
    margin-top: -3px;
    margin-left: -20px;
}
/*arretter à 17:36*/